// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/bootstrap/alert";
@import "component/bootstrap/ajax";
@import "component/bootstrap/breadcrumbs";
@import "component/bootstrap/field";
@import "component/bootstrap/file";
@import "component/bootstrap/filter";
@import "component/bootstrap/form";
@import "component/bootstrap/icon";
@import "component/bootstrap/navbar";
@import "component/bootstrap/panel";
@import "component/bootstrap/progress-bar";
@import "component/bootstrap/table-drag";
@import "component/bootstrap/tabs";
@import "component/bootstrap/toolbar";

// Custom
@import "component/drupal/menu";
@import "component/drupal/node";
@import "component/drupal/field-body";
@import "component/drupal/paragraphs";
@import "component/drupal/block";
@import "component/drupal/views";
@import "component/drupal/throbber";

// Layout
@import "layout/header";
@import "layout/footer";

html {
  scroll-behavior: smooth;
}

body {
  @media #{$tablet-max} {
    padding-bottom: 56px;

    &.path-node-29 {
      padding-bottom: 0;
    }
  }
}


div#sliding-popup, div#sliding-popup .eu-cookie-withdraw-banner, .eu-cookie-withdraw-tab {
  background: $black;

  .agree-button, .decline-button {
    border: 0;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: $font-family-base;
    color: $white;
    box-shadow: none;
    border-radius: 2px;
    text-shadow: none;

    &:hover {
      background-color: $brand-primary;
    }
  }

  .agree-button {
    background: $brand-success;
  }

  .decline-button {
    background: $brand-danger;
  }

  .eu-cookie-compliance-message {
    margin: 15px 0 0;

    button {
      color: $brand-primary;

      &:hover {
        text-decoration: none;
        opacity: .6;
      }
    }
  }
}

.input-group {
  input {
    height: 48px;
  }

  .input-group-btn {
    .btn-primary {
      border-radius: 0 3px 3px 0 !important;
      border: 0;
      height: 48px;
      width: 48px;
    }
  }
}

picture {
  display: block;
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.tag {
  font-size: $font-size-small;
  text-transform: uppercase;
  color: $brand-secondary;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
  display: inline-flex;
}

span.price {
  font-weight: 700;
  font-size: $font-size-base;

  .price--has-promo & {
    text-decoration: line-through;
  }

  &.price--promo {
    display: inline-flex;
    padding: 4px 16px;
    background-color: $brand-danger;
    color: $white;
  }
}

.caret {
  margin-left: 4px;
}

.bg--primary {
  background-color: $brand-primary;
}

.bg--secondary {
  background-color: $brand-secondary;
}

.bg--white {
  background-color: $white;
}

.bg--secondary-light, .bg--white {
  .booking__phone {
    p {
      color: $brand-primary !important;

      > a {
        color: $brand-primary !important;
      }
    }
  }
}

.form-submit {
  justify-content: center;
  margin: 16px 0 0;
}

.modal {
  transition: opacity 0.25s ease;
  z-index: 999;
}

.modal-container {
  max-height: 80%;

  @media (min-width: 1200px) {
    max-height: 90%;
  }
}

body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}

.absolute {
  position: absolute;
}

.opacity-50 {
  opacity: .5;
}

.bg-black {
  background-color: #000;
}

@media (min-width: 768px) {
  .md\:max-w-lg {
    max-width: 50rem;
  }

  button + button {
    margin-left: 16px;
  }
}

.z-50 {
  z-index: 50;
}

.overflow-y-auto {
  overflow-y: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.rounded {
  border-radius: .1875rem;
}

.bg-white {
  background-color: #fff;
}

.modal-container {
  max-height: 80%;
}

@media (min-width: 1024px) {
  .modal-container {
    max-height: 90%;
  }
}

.h-full {
  height: 100%;
}

.mr-1 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.w-11\/12 {
  width: 91.666667%;
}

.text-left {
  text-align: left;
}

.p-2 {
  padding: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.w-full {
  width: 100%;
}

.modal p {
  overflow-wrap: break-word;
}

.cursor-pointer {
  cursor: pointer;
}

.z-51 {
  z-index: 51;
}

.opacity-0 {
  opacity: 0;
}

.pointer-events-none {
  pointer-events: none;
}

#consentModal {
  h2 {
    margin-top: 0 !important;
    text-align: center;
    margin-bottom: 32px;
  }

  .buttons {
    display: flex;
    flex-flow: row wrap;

    button {
      flex: 1 1 auto;
      justify-content: center;
    }
  }

  .btn-default {
    color: $brand-primary !important;

    &:hover {
      color: $white !important;
    }
  }

  @media #{$mobile} {
    button + button {
      margin: 16px 0 0 0;
    }
  }
}
